.gradient-text {
    padding-top: 5px;
}

.gradient-text-2 {
    padding-top: 5%;
}

html, body {
    /*background-color: #656464;*/
    /*background-image: url("https://www.freepik.com/free-vector/dark-tone-memphis-instagram-ad-background-vector_18705947.htm#query=minimalist%20background&position=6&from_view=search&track=ais");*/
    color: whitesmoke;
}

* {
    font-family: Nunito, sans-serif;
    align-items: center;
    text-align: center;
}

.text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
}

.About-body {
    display: block;
    position: relative;
}

.card {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    height: 300px;
    border-radius: 5px;
    backdrop-filter: blur(9px);
    background-color: slategray;
    padding: 10px;
    text-align: center;

}

.container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: block;
}

.responsive-cell-block {
    min-height: 75px;
}

.container {
    max-width: 1380px;
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 80px;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
}

.head-text {
    font-size: 48px;
    line-height: 50px;
    font-weight: 900;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 70px;
    margin-left: 0px;
}

.cslogo {
    justify-items: center;
    height: 10vw;
    width: 20vw;
    flex: fit-content;
    position: relative;
}

.first-block {
    display: flex;
    margin-left: 1em;
    margin-right: 1em;
}


.about-cs-muj {
    margin-left: 2%;
    max-width: 90vw;
}

.empty-div {
    line-height: 10;
    width: 400px;
    height: 50px;
}

.About-body-2 {
    display: block;

}
.second-block {
    display: flex;
    max-width: fit-content;
    margin-left: 1em;
    margin-right: 1em;
}

