@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-image: url("../public/background5.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.main {

    background-size: cover;
}

header {
    background: slategray;
}



